.tweet-insert{
  background-color: #fff;
  .tweet-input{
    width: 100%;
    text-align: right;
    .form-control{
      border: none;
      padding: 0;
    }
    .form-control:focus{
      box-shadow: none;
    }
    .submit-btn{
      background-color: rgba(29,161,242,1.00);
      color: #fff;
      border-radius: 20px;
      border: none;
    }
  }
  .tweet-avatar{
    width: 50px;
    height: 50px;
      .avatar{
        width: 100%;
        height: 100%;
        background-color: #ccc;
        border-radius: 100%;
      }
  }
}

.tweet-info{
  background-color: #fff;
  .avatar{
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 100%;
  }
  .user-nickname{
    font-size: 15px;
    font-weight: 600;
  }
  .user-account{
    font-size: 15px;
    color: #657786;
  }
}